flows.json
[
    {
        "id": "46834af34251f035",
        "type": "exec",
        "z": "78f09ae575f65479",
        "command": "python -u main.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "23831c52b83ea7aa"
            ],
            [],
            []
        ]
    },
    {
        "id": "31f707e30af6a537",
        "type": "inject",
        "z": "78f09ae575f65479",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "46834af34251f035"
            ]
        ]
    },
    {
        "id": "23831c52b83ea7aa",
        "type": "debug",
        "z": "78f09ae575f65479",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 260,
        "wires": []
    }
]